<!DOCTYPE html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/avisar.css') }}">
        <title>Reservar Aula UCSP</title>
    </head>

    <body>

        <div id="filters_container">

            <h2 class = "item" >AVISAR</h2>

            <h4 class = "item" >Ingresa los detalles requeridos para el aula</h2>

            <div id = "filters">

                <div class = "item" >
                    <label for = "asientos">Número de asientos:</label>
                    <input id = "asientos" type="number" placeholder="Asientos">
                </div>

                <div class = "item" >
                    <label for = "limit">Hora Límite:</label>
                    <input id = "limit" type="time" value="21:00">
                </div>

                <div class = "item">
                    <label for = "minutos" class = limit_width>Duración:</label>
                    <input id = "minutos" type="number" placeholder="Minutos">
                </div>

                <div class = "item" >
                    <button id = "sub">Buscar</button>
                </div>

            </div>
        </div>

        <div id="results">
            <h1>Resultados:</h1>
            <div style="display: grid; place-items: center;">
                <table id="results_table" style="text-align: left;">
                    <tr>
                        <th>Salón</th>
                        <th>Asientos</th>
                        <th>Hora</th>
                    </tr>
                </table>
            </div>
        </div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>
            
            document.getElementById("results").style.display = "none";

            document.getElementById("asientos").value = 5;
            document.getElementById("minutos").value = 15;

            function formatDate(date) {
                var year = date.getFullYear();
                var month = ('0' + (date.getMonth() + 1)).slice(-2);
                var day = ('0' + date.getDate()).slice(-2);
                var hours = ('0' + date.getHours()).slice(-2);
                var minutes = ('0' + date.getMinutes()).slice(-2);

                return `${year}-${month}-${day}T${hours}:${minutes}`;
            }

            function formatDateUSER(date) {
                return String(date).split(" ")[4].substring(0, 5);
            }

            function formatDateWithTime(time) {
                var now = new Date();
                var year = now.getFullYear();
                var month = ('0' + (now.getMonth() + 1)).slice(-2);
                var day = ('0' + now.getDate()).slice(-2);

                return `${year}-${month}-${day}T${time}`;
            }



            function checkData(data){

                // console.log(data);


                // CHAIRS 

                if (data['asientos'].includes("-")){
                    alert("Asientos deben estar entre 0 y 60.");
                    return false;
                }

                if (data['asientos'].includes(".")){
                    alert("Asientos no pueden ser decimales.");
                    return false;
                }

                let chairs = parseInt(data['asientos']);
                if (chairs > 60){
                    alert("Asientos deben estar entre 0 y 60.");
                    return false;
                }

                // Duration
                if (data['minutos'].includes("-")){
                    alert("Duración deben estar entre 15 y 120 minutos.");
                    return false;
                }

                if (data['minutos'].includes(".")){
                    alert("Duración no pueden ser decimal.");
                    return false;
                }

                let duration = parseInt(data['minutos']);
                if (duration > 120 || duration < 15){
                    alert("Duración deben estar entre 15 y 120 minutos.");
                    return false;
                }

                // Dates

                let maxTime = new Date();
                maxTime.setHours(21);
                maxTime.setMinutes(15);
                maxTime.setSeconds(0);

                let minTime = new Date();
                minTime.setHours(7);
                minTime.setMinutes(0);
                minTime.setSeconds(0);

                const insertedDate = data['limitdate'];
                const maxFinishTime = new Date(insertedDate.getTime() + duration*60000);
                if (maxTime < maxFinishTime){
                    alert("Las reservas no pueden terminar despues de las 9:15 pm.");
                    return false;
                }

                if (insertedDate < minTime){
                    alert("Las reservas no pueden empezar antes de las 7:00 am.");
                    return false;
                }
                
                let now = new Date();
                now.setSeconds(0);
                if (insertedDate < now){
                    alert("Hora Límite no puede ser inferior a la actual.");
                    return false;
                }

                return true;
            }

            function send_query(){

                var node = document.getElementById('results_table').children[0];
                while (node.childNodes.length > 2) {
                    node.removeChild(node.lastChild);
                }

                
                
                let limit = new Date();
                let time = document.getElementById("limit").value.split(':');

                limit.setHours(time[0]);
                limit.setMinutes(time[1]);
                limit.setSeconds(0);
                
                let now = new Date();
                now.setSeconds(0);
                
                let minstart = new Date();
                minstart.setHours(7);
                minstart.setMinutes(0);

                // Si se te ocurre reservar en madrugada
                if (now < minstart){
                    now = minstart;
                }

                data_query = {
                    initdate : now,
                    limitdate: limit,
                    asientos : document.getElementById("asientos").value,
                    minutos : document.getElementById("minutos").value,
                };

                if (!checkData(data_query)) return;

                data_query = {
                    initdate : formatDate(now),
                    limitdate: formatDate(limit),
                    asientos : document.getElementById("asientos").value,
                    minutos : document.getElementById("minutos").value,
                };

                $.ajax({
                    url: "/advice_book",
                    method: "POST",
                    data: data_query
                }).done(function (data) {

                    if (data['data'].length == 0) {
                        console.log("NO HAY DISPONIBLES");
                        return;
                    }
                    else{
                        data = data['data'];
                        let but;
                        let table = document.getElementById("results_table"), row, cell;
                        let stringDate;
                        let butHTML;

                        document.getElementById("results").style.display = "block";

                        for (let i = 0; i < data.length; ++i){
                            stringDate = formatDateUSER(data[i][2])
                            // console.log(stringDate);
                            butHTML = "<button onclick = book('" + data[i][0] + "','" + stringDate + "') id = '" + data[i][0] +"'>Reservar</button>";
                            // console.log(butHTML);
                            row = table.insertRow(i+1);
                            row.insertCell(0).innerHTML = data[i][0];
                            row.insertCell(1).innerHTML = data[i][1];
                            row.insertCell(2).innerHTML = formatDateUSER(data[i][2]);
                            row.insertCell(3).innerHTML = butHTML;
                            // row.insertCell(4).innerHTML = Date(data[i][2]);
                        }
                    }

                }).fail(function (error) {
                    alert("Error :(");
                    let form = document.createElement('form');
                    form.method = 'POST';
                    form.action = "{{ url_for('avisar') }}";

                    // data_query = {
                    //     mail : document.getElementById("mail").innerHTML,
                    //     code : document.getElementById("code").innerHTML
                    // };

                    // for (var key in data_query) {
                    //     var input = document.createElement('input');
                    //     input.type = 'hidden';
                    //     input.name = key;
                    //     input.value = data_query[key];
                    //     form.appendChild(input);
                    // }

                    // Add the form to the document and submit it
                    document.body.appendChild(form);
                    form.submit();
                    
                });

                
            }

            var btn = document.getElementById("sub");
            btn.addEventListener("click", send_query);


            function book(class_code, bookdate){
                let input;
                let form = document.createElement('form');
                form.method = 'POST';
                form.action = "{{ url_for('confirmar_reserva') }}";

                let keys = ["asientos","minutos"];

                bookdate = formatDateWithTime(bookdate);
                console.log(bookdate);


                for (let i = 0; i < 2; ++i){
                    input = document.createElement('input');
                    input.type = 'hidden';
                    input.name = keys[i];
                    input.value = document.getElementById(keys[i]).value;
                    form.appendChild(input);
                }
                


                // email
                input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'email';
                input.value = "{{email}}";
                form.appendChild(input);

                // class code
                input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'class_code';
                input.value = class_code;
                form.appendChild(input);

                // student code
                input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'student_code';
                input.value = "{{student_code}}";
                form.appendChild(input);


                // DATE
                input = document.createElement('input');
                input.type = 'hidden';
                input.name = "date";
                input.value = bookdate;
                form.appendChild(input);


                document.body.appendChild(form);
                form.submit();
                
            }


        </script>

    </body>
    
</html>